<div class="contain-to-grid hide-on-print">
    <nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <!-- Leave this empty -->
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li data-bind="ifNotIsInRole: 'MANAGE-FUNDS'"><a href="/#/funds/browse">Funds</a></li>
                <li data-bind="ifIsInRole: 'MANAGE-FUNDS'" class="has-dropdown">
                    <a>Funds</a>
                    <ul class="dropdown">
                        <li><a href="/#/funds/browse">Browse</a></li>
                        <li><a href="/#/funds/manage">Manage</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a>Reports</a>
                    <ul class="dropdown">
                        <li><a href="/#/reports/funding-request">Funding Request</a></li>
                        <li><a href="/#/reports/narrative">Narrative</a></li>
                    </ul>
                </li>
                <li data-bind="ifIsInRole: 'MANAGE-USERS'"><a href="/#/users/browse">Users</a></li>
                <li data-bind="ifIsInRole: 'MANAGE-AREAS'"><a href="/#/areas/browse">Areas</a></li>
                <li><a href="/home/logout">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>

<div class="row view-background">
    <div class="large-12 columns">
        <h1 class="app-heading hide-on-print">Foundation<span>Portal</span></h1>

        <section id="content" data-bind="router: { transition: 'scrollers', cacheViews: true }">
        </section>

        <div id="timeoutModal" class="small reveal-modal" data-options="closeOnBackgroundClick: false">
            <h4>Your session is about to timeout.</h4>
            <p>
                You will be logged out in <span class="counter"></span> seconds. Click continue to
                extend your session.
            </p>

            <span class="text-button button-close-reveal-modal">Continue</span>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>
